/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--font-main-Inter, 'Inter'), sans-serif;
  font-size: var(--page-main-font-size, 18px);
  background:
    var(
      --stripes-gradient-to-right,
      repeating-linear-gradient(
        to right,
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      )
    ),
    var(
      --stripes-gradient-to-bottom,
      repeating-linear-gradient(
        to bottom,
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      )
    ),
    var(
      --stripes-gradient-evenly-color,
      repeating-linear-gradient(
        to bottom,
        #e7e7e7 0%,
        #e7e7e7 0.01%,
        #1a1a1a 100%
      )
    );
  background-size: cover; /* Растягиваем на всю страницу */
  background-attachment: fixed; /* чтобы зафиксировать фон на месте при прокрутке */
  min-inline-size: 320px;
  font-variation-settings: 'wght' var(--card-text-weight, 410);
  min-block-size: 667px;
}

.page::selection {
  color: white;
  background-color: pink; /* поменять цвет выделения текста */
}

/* header */

.header {
  display: flex;
  justify-content: center;
}

.zakrivayuschiy-teg {
  display: flex;
  flex-direction: column;
  place-items: center; /* одновременно и justify-content и align-items */
  gap: 20px;
  margin-block-start: var(--margin-block-start, 100px);
  margin-block-end: var(--margin-block-end, clamp(100px, 28vw, 492px));
  padding-block-start: var(--padding-block-start, clamp(122px, 12vw, 130px));
  padding-block-end: var(--padding-block-end, clamp(122px, 12vw, 130px));
}

.main {
  display: flex;
  justify-content: center;
  gap: var(--main-gap, 50px);
}

/* post */

.post__title {
  margin-inline: var(--margin-inline-post__title-content, 10px);
  margin-block: var(--margin-block-post__title-content, 4px);
  font-family: var(--font-main-Inter, 'Inter'), sans-serif;
  font-size: inherit;
  font-variation-settings: 'wght' var(--page-title-weight, 715);
}

.post__block-content-text {
  font-variation-settings: 'wght' var(--page-text-weight, 410);
}

.post__image {
  display: block; /* Убирает лишние пробелы под изображением */
  object-fit: cover; /* Аналогично background-size: cover */
  object-position: center; /* Аналогично background-position: center */
  background: var(--bg-post__image, #000);
  inline-size: 100%;
  aspect-ratio: 1 / 1; /* квадратное */
}

.post__block-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-inline: var(--margin-post__block-content, 25px);
  margin-block: var(--margin-post__block-content, 25px);
}

.post__artile {
  position: relative;
  margin-block-end: var(--margin-block-end, 50px);
}

.post__artile .label-html {
  position: absolute;
  z-index: 20;
  display: block;
  margin-inline-start: 71%;
  margin-block-start: 4%;
  font-size: var(--font-size-label, 14px);
  -webkit-text-stroke: 1px var(--label-stroke-color, rgb(255 255 255 / 0.5)); /* обводка текста */
  -moz-text-stroke: 1px var(--label-stroke-color, rgb(255 255 255 / 0.5)); /* Firefox  */
  -o-text-stroke: 1px var(--label-stroke-color, rgb(255 255 255 / 0.5)); /* для старой оперы */
  mix-blend-mode: hard-light; /* Режим смешивания */
  white-space: nowrap;
}

/* animation-buttons */

.animation-buttons {
  display: flex;
  justify-content: end;
  gap: 12px;
}

.card__like-button {
  padding-inline: 37px;
  padding-block: var(--padding-block-buttons, 12.5px);
}

.save-button {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 8px;
}

.button__text {
  position: relative;
  z-index: 1; /* выше псевдоэлемента с z-index: -1 */
  /* Измменение цвета при наведении */
  color: var(--button-text-mix); /* белый */
  font-size: var(--font-size-button__text, 14px);
  mix-blend-mode: difference;
}

/* Иконка дискеты в кнопке "Сохранить на память" */

.save-button .save-button__floppy-icon {
  fill: var(--loppy-fill-white, #fff);
  mix-blend-mode: difference;
  /* Если иконка не позиционирована, она останется в потоке */
}

/* focus and hover buttons */

.post .black-border:focus-visible,
.footer .black-border:focus-visible,
.dialog .black-border:focus-visible {
  box-shadow: 2px 2px 0 0 var(--border-button-focus, rgb(0 0 0 / 1));
  transition: box-shadow 0.3s ease;
}

.post .card__like-button::after,
.footer .save-button::after,
.dialog .ok-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Отправляем фон под текст */
  width: 100%;
  height: 100%;
  background-color: var(--border-button-focus, #000);
  transition: transform 0.5s ease-in-out; /* Плавность заполнения */
  transform: scaleX(
    0
  ); /* Начальное состояние: сплющен по ширине (0%) или transform: translateX(-100%);*/
  transform-origin: left; /* Точка трансформации — левый край */
}

.post .card__like-button:hover::after,
.footer .save-button:hover::after,
.dialog .ok-button:hover::after {
  transform: scaleX(
    1
  ); /* растягиваем на 100% ширины или or transform: translateX(0); */
}

.card__icon-button {
  border: 2px solid transparent; /* прозрачная рамка для сохранения размера как в задании */
  transition: border-color 0.3s ease; /* плавность при изменении цвета */
}

.post .card__icon-button:focus-visible {
  border: 2px solid var(--border-button-focus, rgb(0 0 0 / 1));
}

/* Анимация сердца */

/* анимация всего сердца */

.like-icon.is-liked .core {
  opacity: 1;
  fill: var(--animation-fill-color-core, red);
  transition: none;
}

.like-icon.is-liked .main-body {
  opacity: 1;
  fill: var(--animation-fill-color-core, red);
  transition:
    opacity 0.3s linear 0.05s,
    fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color-core, red);
  transition: fill 0.3s linear 0.06s;
}

/* увеличить всё сердце и добавляет искры */

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-pulse 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s 1; /* Вспышка */
}

/* core — сердцевина */

.core {
  opacity: 0;
  fill: var(--core-color-black, #000);
  transition: opacity 0.3s linear 0.03s; /*transition: opacity 0.3s linear 0.03s, fill 0.3s linear;*/
}

.like-icon:hover .core {
  opacity: 1;
  fill: var(--core-color-black, #000);
  /* так это выглядит Для стилизации вам понадобится отслеживать наведение на основной обёртке (.like-icon), а после — выбирать нужный элемент. */
  transition:
    opacity 0.3s linear,
    fill 0.3s linear;
}

.like-icon:active .core {
  opacity: 1;
  fill: var(--animation-fill-color-core, red);
  /* так это выглядит Для стилизации вам понадобится отслеживать наведение на основной обёртке (.like-icon), а после — выбирать нужный элемент. */
  transition:
    opacity 0.3s linear,
    fill 0.3s linear;
}

/* contour — контур */

.contour {
  transition: fill 0.1s linear;
}

/* main-body — основное тело сердца; */

.main-body {
  opacity: 0;
  transition:
    opacity 0.3s linear,
    fill 0.3s linear;
}

.like-icon:hover .main-body {
  opacity: 1;
  fill: var(--main-body-color-black, #000);
  /* так это выглядит Для стилизации вам понадобится отслеживать наведение на основной обёртке (.like-icon), а после — выбирать нужный элемент. */
  transition:
    opacity 0.3s linear 0.05s,
    fill 0.3s linear 0.05s;
}

.like-icon:active .main-body {
  opacity: 1;
  fill: var(--animation-fill-color-core, red);
  transition:
    opacity 0.3s linear 0.05s,
    fill 0.3s linear 0.05s;
}

/* sparks — искры вокруг */

.sparks {
  opacity: 0;
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  margin-block-end: var(
    --footer-margin-block-end,
    clamp(3.125rem, 8.333rem - 4vw, 6.25rem)
  );
}

.save-button {
  padding-inline: 20px; /* фиксированные 20px */
  padding-block: clamp(17px, 2.5vw, 20.5px); /* от 17px до 20.5px */
}

/* dialog */

.dialog {
  position: fixed; /* центрирование */
  inset: 0; /* центрирование */
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-inline: var(
    --dialog-padding-inline,
    clamp(2.5rem, 1.25rem + 5vw, 2.5rem)
  );
  padding-block: var(
    --dialog-padding-block,
    clamp(1.875rem, 1.25rem + 2vw, 1.875rem)
  );
  transition: opacity 0.3s ease-in-out;
  inline-size: var(
    --dialog-inline-size,
    clamp(21.3125rem, 21rem + 2vw, 22.0625rem)
  );
  min-block-size: var(--dialog-min-block-size, 191px);
}

/* Состояние, когда диалог скрыт (без атрибута open) */

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

/* Чтобы не прокручивать страницу при открытом модальном окне */

body:has(dialog[open]) {
  overflow: hidden;
}

/* Стилизация фона (backdrop) */

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
  backdrop-filter: blur(3px);
}

.dialog__content {
  display: flex;
  gap: 20px;
}

.ok-button {
  padding-block: var(--padding-block-buttons, 12.5px);
  inline-size: 100%;
}

/* position's labels and filters img */

/* knight */

.post__artile .label-html-knight {
  margin-inline-start: 65%;
  margin-block-start: 3%;
}

.post__image-knight {
  filter: sepia(77%) brightness(62%);
}

/* boy-smoking */

.post__artile .label-html-boy-smoking {
  margin-inline-start: 60%;
  margin-block-start: 4%;
}

.post__image-boy-smoking {
  filter: saturate(50%) grayscale(100%);
}

/* coders */

.post__artile .label-html-coders {
  margin-inline-start: 63%;
  margin-block-start: 2%;
}

.post__image-coders {
  filter: hue-rotate(160deg) drop-shadow(18px 18px 10px #51b124);
}

/* simpsons-hug */

.post__artile .label-html-simpsons-hug {
  margin-inline-start: 52%;
  margin-block-start: 3%;
}

.post__image-simpsons-hug {
  filter: saturate(160%) blur(3px);
}

/* boy-in-meadow */

.post__artile .label-html-boy-in-meadow {
  margin-inline-start: 53%;
  margin-block-start: 6%;
}

.post__image-boy-in-meadow {
  filter: opacity(111%) contrast(0.7);
}

/* river */

.post__artile .label-html-river {
  margin-inline-start: 68%;
  margin-block-start: 3%;
}

.post__image-river {
  filter: opacity(90%) brightness(63%);
}

/* thumbs-up */

.post__artile .label-html-thumbs-up {
  margin-inline-start: 68%;
  margin-block-start: 3%;
}

.post__image-thumbs-up {
  filter: saturate(175%);
}

/* универсальные стили */

.max-width-block {
  inline-size: var(--inline-size, clamp(375px, 80vw, 700px));
}

.pixele-title {
  font-family:
    var(--accent-font-PressStart2P-Regular, 'Press Start 2P'), sans-serif;
  line-height: 1.5;
  word-spacing: -11px;
}

.zakrivayuschiy-teg__html {
  font-size: var(
    --font-size-html-title,
    clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem)
  );
}

.zakrivayuschiy-teg__title {
  font-size: var(
    --font-size-zakrivayuschiy-teg-title,
    clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem)
  );
}

.black-border {
  position: relative;
  z-index: 1; /* Чтобы текст был выше псевдоэлемента */
  border: 2px solid var(--black-border, #000);
  background: #fff;
}

/* прогрессивное улучшение */

@supports (
  text-stroke: 1px var(--label-stroke-color, rgba(255, 255, 255, 0.5))
) {

  .post__artile .label-html {
    text-stroke: 1px var(--label-stroke-color, rgb(255 255 255 / 0.5));
  }
}

/* адаптив */

@media (width >= 1024px) {

  .page {
    min-block-size: 960px;
  }

  .save-button {
    flex-direction: initial;
  }

  .save-button .save-button__floppy-icon {
    width: 21px;
    height: 21px;
    fill: var(--loppy-fill-white, #fff);
  }

  /* position's labels and filters img */

  .post__artile .label-html {
    margin-inline-start: 83%;
    margin-block-start: 3%;
  }

  /* knight */

  .post__artile .label-html-knight {
    margin-inline-start: 80%;
  }

  /* boy-smoking */

  .post__artile .label-html-boy-smoking {
    margin-inline-start: 77%;
    margin-block-start: 3%;
  }

  /* coders */

  .post__artile .label-html-coders {
    margin-inline-start: 79%;
    margin-block-start: 3%;
  }

  /* simpsons-hug */

  .post__artile .label-html-simpsons-hug {
    margin-inline-start: 73%;
  }

  /* boy-in-meadow */

  .post__artile .label-html-boy-in-meadow {
    margin-inline-start: 73%;
    margin-block-start: 6%;
  }

  /* river */

  .post__artile .label-html-river {
    margin-inline-start: 80%;
  }

  /* thumbs-up */

  .post__artile .label-html-thumbs-up {
    margin-inline-start: 81%;
  }
}
