/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--font-main, 'Inter'), sans-serif;
  font-size: var(--page-main-font-size, 18px);
  background:
    var(
      --stripes-gradient-to-right,
      repeating-linear-gradient(
        to right,
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      )
    ),
    var(
      --stripes-gradient-to-bottom,
      repeating-linear-gradient(
        to bottom,
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      )
    ),
    var(
      --stripes-gradient-evenly-color,
      repeating-linear-gradient(
        to bottom,
        #e7e7e7 0%,
        #e7e7e7 0.01%,
        #1a1a1a 100%
      )
    );
  background-size: cover; /* Растягиваем на всю страницу */
  background-attachment: fixed; /* чтобы зафиксировать фон на месте при прокрутке */
  min-inline-size: 320px;
  font-variation-settings: 'wght' var(--card-text-weight, 410);
}

/* header */

.header {
  display: flex;
  justify-content: center;
}

.closing_tag {
  display: flex;
  flex-direction: column;
  place-items: center; /* одновременно и justify-content и align-items */
  gap: 18px;
  margin-block-start: var(--margin-block-start, 100px);
  margin-block-end: var(--margin-block-end, 101px);
  padding-block-start: var(--padding-block-start, clamp(122px, 12vw, 130px));
  padding-block-end: var(--padding-block-end, clamp(122px, 12vw, 130px));
}

.main {
  display: flex;
  justify-content: center;
  gap: var(--main-gap, 50px);
}

/* post */

.post {
  display: grid;
  gap: 54px;
}

.post__title {
  margin-inline: var(--margin-inline-post__title-content, 10px);
  margin-block: var(--margin-block-post__title-content, 4px);
}

.title {
  font-family: var(--font-main, 'Inter'), sans-serif;
  font-size: inherit;
}

.post__title.title {
  font-variation-settings: 'wght' var(--page-title-weight, 715);
}

.post__text {
  font-variation-settings: 'wght' var(--page-text-weight, 410);
}

.post__image {
  display: block; /* Убирает лишние пробелы под изображением */
  object-fit: cover; /* Аналогично background-size: cover */
  object-position: center; /* Аналогично background-position: center */
  background: var(--bg-post__image, #000);
  transform: translateY(2px);
  inline-size: 100%;
  aspect-ratio: 1 / 1; /* квадратное */
}

/* filters img */

.filter-sepia-brightness {
  filter: sepia(77%) brightness(62%);
}

.filter-saturate-grayscale {
  filter: saturate(50%) grayscale(100%);
}

.filter-hue-rotate-drop-shadow {
  filter: hue-rotate(160deg) drop-shadow(18px 18px 10px #51b124);
}

.filter-saturate-blur {
  filter: saturate(160%) blur(3px);
}

.filter-opacity-contrast {
  filter: opacity(111%) contrast(0.7);
}

.filter-opacity-brightness {
  filter: opacity(90%) brightness(63%);
}

.filter-saturate {
  filter: saturate(175%);
}

.post__block-content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-inline: var(--margin-post__block-content, 7%);
  margin-block-start: var(--margin-post__block-content, 7%);
  margin-block-end: var(--margin-post__block-content-end, 5%);
}

.image-label {
  position: absolute;
  top: 55px;
  right: 23px;
  z-index: 20;
  display: block;
  opacity: 0.5;
  font-family: var(--accent-font, 'Press Start 2P'), sans-serif;
  font-size: var(--font-size-label, 14px);
  text-shadow: 0 0 1px var(--text-stroke-color, #fff); /* Запасной вариант - тень */
  mix-blend-mode: hard-light; /* Режим смешивания */
  white-space: nowrap;
}

/* animation-buttons */

.animation-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 7px;
  margin-block-end: 1%;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 38px;
  margin-block: 0;
  padding: 0;
}

.save-button {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 8px;
  padding-inline: 18px; /* фиксированные 20px */
  padding-block: clamp(16px, 2.5vw, 15.5px); /* от 17px до 15.5px */
}

.margin-top {
  margin-block-start: 13%;
}

/* Иконка дискеты в кнопке "Сохранить на память" */

.save-button .save-button__floppy-icon {
  fill: var(--loppy-fill-white, #fff);
  mix-blend-mode: difference;
  /* Если иконка не позиционирована, она останется в потоке */
}

/* focus and hover buttons */

.button {
  position: relative;
  z-index: 1;
  border: 2px solid var(--black-border, #000);
  background: #fff;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--border-button-focus, rgb(0 0 0 / 1));
}

/* Анимация заполнения для всех кнопок с текстом */

.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--border-button-focus, #000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::after {
  transform: scaleX(1);
}

/* Стили для текста внутри кнопок */

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-mix, #fff);
  font-family: var(--accent-font, 'Press Start 2P'), sans-serif;
  font-size: var(--font-size-button__text, 14px);
  mix-blend-mode: difference;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 38px;
  border: 2px solid transparent;
  padding: 0;
  transition: border-color 0.3s ease;
}

.like-icon {
  display: block;
  width: 39px;
  height: 36px;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--border-button-focus, rgb(0 0 0 / 1));
}

/* Анимация сердца */

/* анимация всего сердца */

.like-icon.is-liked .core {
  fill: var(--animation-fill-color-core, red);
  transition: fill 0.3s linear; /* без забержки */
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color-core, red);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color-core, red);
  transition: fill 0.3s linear 0.06s;
}

/* увеличить всё сердце и добавляет искры */

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-pulse 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s 1; /* Вспышка */
}

/* core — сердцевина */

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--core-color, #000);
  /* так это выглядит Для стилизации вам понадобится отслеживать наведение на основной обёртке (.like-icon), а после — выбирать нужный элемент. */
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color-core, red);
  /* так это выглядит Для стилизации вам понадобится отслеживать наведение на основной обёртке (.like-icon), а после — выбирать нужный элемент. */
  transition: fill 0.3s linear;
}

/* contour — контур */

.contour {
  transition: fill 0.1s linear;
}

/* main-body — основное тело сердца; */

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--main-body-color, #000);
  /* так это выглядит Для стилизации вам понадобится отслеживать наведение на основной обёртке (.like-icon), а после — выбирать нужный элемент. */
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color-core, red);
  transition: fill 0.3s linear 0.05s;
}

/* sparks — искры вокруг */

.sparks {
  opacity: 0;
}

/* save-section */

.save-section {
  display: flex;
  justify-content: center;
  margin-block-end: var(
    --save-section-margin-block-end,
    clamp(3.125rem, 8.333rem - 4vw, 6.25rem)
  );
}

/* dialog */

.dialog {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-inline: var(
    --dialog-padding-inline,
    clamp(2.5rem, 1.25rem + 5vw, 2.5rem)
  );
  padding-block: var(
    --dialog-padding-block,
    clamp(1.875rem, 1.25rem + 2vw, 1.875rem)
  );
  inline-size: var(
    --dialog-inline-size,
    clamp(21.3125rem, 21rem + 2vw, 22.0625rem)
  );
}

.dialog__text {
  color: var(--black-border, #000);
  font-family: var(--accent-font, 'Press Start 2P'), sans-serif;
  font-size: var(--font-size-button__text, 14px);
  line-height: 1.5;
  text-transform: uppercase;
}

/* Состояние, когда диалог скрыт (без атрибута open) */

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

/* Чтобы не прокручивать страницу при открытом модальном окне */

body:has(dialog[open]) {
  overflow: hidden;
}

/* Стилизация фона (backdrop) */

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 19px;
}

.dialog .button__text {
  line-height: 1.5;
}

.ok-button {
  padding-block: 6.5px;
  inline-size: 100%;
}

.ok-button .button__text {
  text-transform: uppercase;
}

/* универсальные стили */

.max-width-block {
  inline-size: var(--inline-size, clamp(375px, 80vw, 700px));
}

.accent-font {
  font-family: var(--accent-font, 'Press Start 2P'), sans-serif;
}

.closing_tag__html {
  font-size: var(
    --font-size-html-title,
    clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem)
  );
}

.closing_tag__title {
  font-size: var(
    --font-size-closing_tag-title,
    clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem)
  );
  text-transform: uppercase;
}

.card {
  position: relative;
  z-index: 1; /* Чтобы текст был выше псевдоэлемента */
  border: 2px solid var(--black-border, #000);
  background: #fff;
}

/* прогрессивное улучшение */

@supports (
  (text-stroke: 1px var(--text-stroke-color, #fff)) or
    (-webkit-text-stroke: 1px var(--text-stroke-color, #fff))
) {

  .image-label {
    color: initial; /* используем цвет браузера по умолчанию */
    text-shadow: none; /* Убираем тень */
    -webkit-text-stroke: 1px var(--text-stroke-color, #fff);
    text-stroke: 1px var(--text-stroke-color, #fff);
  }
}

/* адаптив */

@media (width >= 1024px) {

  .post {
    gap: 53px;
  }

  .post__block-content {
    gap: 24px;
    margin-inline: var(--margin-post__block-content-1440-inine, 4%);
    margin-block-start: var(--margin-post__block-content-1440, 4.6%);
  }

  .closing_tag {
    margin-block-end: var(--margin-block-end-1440, 96px);
  }

  .save-button {
    flex-direction: initial;
    padding-inline: 17px;
  }

  .save-button .save-button__floppy-icon {
    width: 21px;
    height: 21px;
    fill: var(--loppy-fill-white, #fff);
  }

  .animation-buttons {
    margin-inline-end: -1%;
    margin-block-end: -2%;
  }

  .margin-top {
    margin-block-start: 2.6%;
  }
}
